terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/swarm.plan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/hosts
*secrets.yaml
ansible/*inventory.ini
*.env