terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/swarm.plan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/hosts
docker-compose/secrets.yaml
ansible/inventory.ini