terraform/*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/swarm.plan
terraform/terraform.tfstate*
terraform/terraform.tfstate.backup
terraform/update_envs.sh
terraform/hosts
*secrets.yaml
ansible/*inventory.ini
ansible/generate_inventories.sh
*.env